<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
  </head>
  <body>
      <div class="jumbotron jumbotron-fluid">
          <div class="container">
              <h1 class="display-3">Hiển thị sản phẩm</h1>
              <p class="lead">Sử dụng react js lấy dữ liệu từ node js</p>
              <hr class="my-2"> 
          </div> 
      </div>
       <div class="container">
              <div class="row">
                <div class="col-4">
                    <div class="card text-left">
                      <img class="card-img-top" src="https://kenh14cdn.com/2019/4/6/tumblrparaoa8tju1vee85eo71280-15545029608871377167662.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title float-left">Tên Sản Phẩm</h5>
                        <h5 class="card-title float-right">50000</h5>
                    </div>
                </div>
                <!-- end col 4 -->
                <div class="col-4">
                    <div class="card text-left">
                        <img class="card-img-top"
                            src="https://kenh14cdn.com/2019/4/6/tumblrparaoa8tju1vee85eo71280-15545029608871377167662.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title float-left">Tên Sản Phẩm</h5>
                            <h5 class="card-title float-right">50000</h5>
                        </div>
                    </div>
                    <!-- end col 4 -->
              </div>    
              
        </div>
    </body>
</html>